div{
    /* background-color: aquamarine; */
    /* padding: 10px; */
    /* margin: 10px; */
margin-bottom: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: brown;
margin-top: 10px;
padding-bottom: 10px;
padding-top: 10px;
margin-bottom: 10px;
  
}